.banner_image {
  height: 550px;
  background-image: url("../../../../assets/images/banner_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  position: relative;
}

.banner_overlay {
  position: absolute;
  width: 60%;
  left: 10%;
  top: 30%;
}

.black_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner_overlay h1 {
  text-transform: uppercase;
  font-family: "Poppins-Bold" !important;
  color: white;
}

.banner_overlay p {
  color: white;
  font-family: "Poppins-Light" !important;
}


.banner_carousel {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -11px;
}

@media screen and (max-width: 425px) {
  .banner_overlay {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    left: 0;
    top: 0;
  }

  .banner_overlay h1 {
    font-size: 16px;
    padding: 10px 0px
  }

  .banner_overlay p {
    font-size: 14px;
    padding: 10px 0px
  }

  .banner_carousel {
    position: relative;
    padding: 30px 0px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .banner_image {
    height: 380px;
  }
}