.service_card {
}
.service_img_container {
  height: 300px;
  position: relative;
  width: 300px;
  overflow: hidden;
}
.service_img_container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
